.kk-star-ratings {
    display: -webkit-inline-box !important;
    display: -webkit-inline-flex !important;
    display: -ms-inline-flexbox !important;
    display: inline-flex !important;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    vertical-align: text-top;
}

.kk-star-ratings.kksr-valign-top {
    margin-bottom: 2rem;
    display: -webkit-box !important;
    display: -webkit-flex !important;
    display: -ms-flexbox !important;
    display: flex !important;
}

.kk-star-ratings.kksr-valign-bottom {
    margin-top: 2rem;
    display: -webkit-box !important;
    display: -webkit-flex !important;
    display: -ms-flexbox !important;
    display: flex !important;
}

.kk-star-ratings.kksr-align-left {
    -webkit-box-pack: flex-start;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: flex-start;
    justify-content: flex-start;
}

.kk-star-ratings.kksr-align-center {
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.kk-star-ratings.kksr-align-right {
    -webkit-box-pack: flex-end;
    -webkit-justify-content: flex-end;
    -ms-flex-pack: flex-end;
    justify-content: flex-end;
}

.kk-star-ratings .kksr-muted {
    opacity: .5;
}

.kk-star-ratings .kksr-stars {
    /* display: flex; */
    position: relative;
}

.kk-star-ratings .kksr-stars .kksr-stars-active,
.kk-star-ratings .kksr-stars .kksr-stars-inactive {
    display: flex;
}

.kk-star-ratings .kksr-stars .kksr-stars-active {
    overflow: hidden;
    position: absolute;
    top: 0;
    left: 0;
}

.kk-star-ratings .kksr-stars .kksr-star {
    /* display: inline-flex; */
    cursor: pointer;
    margin-right: 0px;
}

.kk-star-ratings.kksr-disabled .kksr-stars .kksr-star {
    cursor: default;
}

.kk-star-ratings .kksr-stars .kksr-star .kksr-icon {
    /* fill: currentColor;
    stroke: currentColor; */
    transition: .3s all;
}

/* Images */

.kk-star-ratings:not(.kksr-disabled) .kksr-stars:hover .kksr-stars-active {
    width: 0 !important;
}

.kk-star-ratings .kksr-stars .kksr-star .kksr-icon,
.kk-star-ratings:not(.kksr-disabled) .kksr-stars .kksr-star:hover ~ .kksr-star .kksr-icon {
    background-image: var(--wpr-bg-bde36d79-ae61-4b9d-be0f-81b0ec57b214);
}

.kk-star-ratings .kksr-stars .kksr-stars-active .kksr-star .kksr-icon {
    background-image: var(--wpr-bg-6b2e2591-004a-433c-9a7b-6402d12bb124);
}

.kk-star-ratings.kksr-disabled .kksr-stars .kksr-stars-active .kksr-star .kksr-icon,
.kk-star-ratings:not(.kksr-disabled) .kksr-stars:hover .kksr-star .kksr-icon {
    background-image: var(--wpr-bg-f00de80a-3478-4a0b-addf-2bcb07fe44f3);
}

.kk-star-ratings .kksr-legend {
    margin-left: .75rem;
    margin-right: .75rem;
    font-size: 90%;
    opacity: .8;
    line-height: 1;
}

/* RTL */

[dir="rtl"] .kk-star-ratings .kksr-stars .kksr-stars-active {
    left: auto;
    right: 0;
}

[dir="rtl"] .kk-star-ratings .kksr-stars .kksr-star {
    margin-left: 0px;
    margin-right: 0;
}