/*
Theme Name: Zakra Child Theme
Theme URI: http://themegrill.com/themes/zakra/
Description: Child Theme for Zakra
Author: ThemeGrill
Author URI: http://themegrill.com
Template: zakra
Version: 1.6.1
*/
* {
  font-family: "Microsoft Yahei"
}

body {
  overflow-x: hidden !important;
}

/*************页面不显示title和post-thumbnail***********/
.page .entry-header {
  display: none;
}

.page #primary .post-thumbnail {
  display: none !important;
}

.tg-overlay-wrapper {
  z-index: 9;
}

.tg-header-container {
  max-width: 95% !important;
}

/*************菜单选项宽度和高度***********/
.tg-primary-menu>div ul li ul {
  width: 180px;
}

.tg-primary-menu>div ul li ul li a {
  padding: 0.5em 1em
}

.mobile-navigation {
  margin-top: 10%
}

.tg-scroll-to-top {
  left: 20px;
  right: unset;
}

.entry-header .entry-title {
  font-size: 2em;
  margin: 0;
}

.site-branding .custom-logo {
  width: 160px;
  height: 40px;
}

/*---------------------login menu-------------------------*/

.search-modal {
  display: none;
  position: fixed;
  padding-top: 100px;
  z-index: 99;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: #000;
  background-color: rgba(0, 0, 0, .4)
}

.search-modal-content {
  background-color: #fff;
  margin: 0 2% 0 auto;
  padding: 10px;
  border: 1px solid #888;
  max-width: 400px;
  width: 80%;
  top: 20%
}

.site-search-item {
  cursor: pointer;
  text-align: center;
}

#mobile-navigation .tg-submenu-toggle {
  padding: 2px 20px;
}

#mobile-navigation {
  font-size: 16px;
}

/***************post文章副标题字体大小**************************/
.post-template-default.single.single-post h2 {
  font-size: 1.6em
}

#masthead {
  position: sticky;
  position: -webkit-sticky;
  position: -moz-sticky;
  position: -ms-sticky;
  position: -o-sticky;
  top: 0;
  z-index: 99;
  background-color: #FAFAFA;
  background-color: rgba(250, 250, 250, 0.95)
}

/***************button hover绿色*******************************/
.wp-block-button__link:hover {
  background-color: rgb(0, 174, 136) !important;
  color: white !important;
}

@media only screen and (min-width:768px) {
  #masthead {
    padding-bottom: 0;
  }

/********* AI 小助手 menu css **********************/
.menu_ai_chat{
  background-color:#ff8c00;
  margin:0.8em 0.5em !important;
  padding:0.2em 0.5em;
  border-radius:10px 0 10px 0;
}
.menu_ai_chat a{
  color:white !important;
}

  .tg-site-header-bottom {
    padding-top: 0;
    padding-bottom: 0;
  }

  .tg-mobile-toggle{
    display:none;
  }
}

@media only screen and (max-width:768px) {
  #secondary {
    display: none;
  }

  .tg-site-layout--left #primary {
    padding-left: 0 !important;
  }

  .site-content {
    margin: 20px 0;
    padding-top:0;
    padding-bottom:0;
  }

  .site-search-item::before {
    content: "搜索 "
  }

  .search-modal-content {
    width: 96%;
  }

  .wp-block-columns{
    padding:0;
  }
}


.tg-mobile-navigation .tg-mobile-navigation-close::before {
  content: "\f10a";
  font-family: themegrill-icons;
}

.tg-mobile-navigation li.page_item_has_children .tg-submenu-toggle::after,
.tg-mobile-navigation li.menu-item-has-children .tg-submenu-toggle::after {
  content: "\f101";
  font-family: themegrill-icons;
  font-size: 18px;
}

#mobile-navigation .tg-submenu-toggle {
  padding: 5px 20px;
}

.tg-mobile-navigation li.page_item_has_children.submenu--show>.tg-submenu-toggle::after,
.tg-mobile-navigation li.menu-item-has-children.submenu--show>.tg-submenu-toggle::after {
  content: "\f104";
}

/********************Boostrap addition css************/
.modal-header button.close span {
  border-bottom: none;
  color: initial;
}

.modal-header button.close:hover {
  background-color: unset;
}

@media only screen and (max-width:768px),
(min-width:768px) and (max-width:1024px) {
  .modal-footer {
    justify-content: center;
  }
}

caption {
  caption-side: top
}
/***************table*****************/
table th,
table td,
.wp-block-table th,
.wp-block-table td {
	text-align: center;
}

/*///////////////wordpress 6.6 upgrade link underline//////////////////*/
:root :where(a:where(:not(.wp-element-button))) {text-decoration:unset}